#exportPattern("^[[:alpha:]]+")
export('createWalkMatrix')
export('randomWalkRestarts')
export('calculatePvalues')
#importFrom("stats", "median")
#importFrom("utils", "read.csv", "read.table", "write.table")

